body {
  background: #fff url("../assets/images/bg.jpg") no-repeat center top; }

.left {
  width: 300px;
  margin-right: 15px;
  float: left; }

.right {
  float: left;
  width: 930px; }

.columnaCentral {
  width: 615px;
  float: left;
  margin-right: 15px; }

.columnaIzquierda {
  width: 300px;
  float: left; }

.columnaCentral .nota {
  float: left; }

.columnaCentral .nota:nth-child(2) {
  margin-right: 15px; }

.nota {
  width: 300px;
  height: 250px;
  margin-bottom: 15px;
  background: #000000;
  /* fallback for old browsers */
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px; }

.notaVideo {
  position: relative; }

.notaVideo::after {
  display: block;
  content: '';
  width: 64px;
  height: 45px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -32px;
  margin-top: -22px;
  background: url("../assets/images/play.png") no-repeat; }

.nota1 .description .meta a {
  color: white; }

.nota1 .description .meta {
  color: white;
  padding: 5px 10px 0; }

.nota1 .description .meta span {
  color: #787878; }

.nota a {
  color: white;
  padding-left: 10px;
  line-height: 48px;
  font-size: 18px;
  letter-spacing: -1px;
  font-weight: bold; }

.nota1 {
  margin-bottom: 15px; }

.nota1 .description {
  width: 100%;
  height: 155px;
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #202020, #000000);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #202020, #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.btn-primary {
  background: #1e3c72;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #2a5298, #1e3c72);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #2a5298, #1e3c72);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-weight: bold; }

.btn-info {
  color: #fff;
  background: #3a7bd5;
  font-weight: bold; }

.navbar-inverse {
  background: #232526;
  /* fallback for old browsers */ }

.nota1 .description h2 {
  color: white;
  font-weight: bold;
  padding: 10px;
  letter-spacing: -1px;
  text-shadow: 1px 1px 1px #101668; }

.btnSearch {
  outline: none;
  cursor: pointer;
  color: #fff;
  background: #3a7bd5;
  border-color: #299cdd; }

.tweets {
  width: 100%;
  display: block;
  margin-bottom: 15px; }

.tablas {
  width: 100%;
  display: block;
  margin-bottom: 15px; }

.equiposNews {
  width: 300px;
  float: left;
  margin-right: 15px; }

.oimosAndCols {
  float: left;
  width: 615px; }

.oimosCol {
  width: 300px;
  margin-right: 15px;
  margin-bottom: 15px;
  float: left; }

.colsCol {
  float: left;
  width: 300px; }

.oimosAndCols h3 {
  border-bottom: 2px solid black;
  font-weight: bold; }

.oimosBox {
  margin-bottom: 15px; }

.oimosBox div, .rumoresBox div {
  padding: 5px;
  border-bottom: 1px solid #e2e2e2;
  font-size: 13px;
  line-height: 20px;
  height: 70px; }

.oimosCol .pub300x250, .colsCol .pub300x250 {
  margin-bottom: 15px; }

.news {
  height: 90px;
  border-radius: 5px;
  margin-bottom: 8px;
  background: #f7f7f7; }

.news h5 {
  margin-top: -5px;
  margin-left: -5px;
  margin-bottom: 0; }

.news a {
  font-size: 12px;
  color: black;
  padding: 3px 5px;
  display: block;
  font-weight: bold; }

@media (min-width: 1200px) {
  .container {
    width: 1245px;
    max-width: 100%;
    padding: 0px; } }
